# MySQL

In [26]:
%matplotlib inline
%store -r
import pandas as pd
import mysql.connector

## Observando DatasFrame para crear base de datos.

In [4]:
mysql_1=kpi

In [5]:
mysql_2=crecimiento100hogares

In [6]:
mysql_3=serviciosOfrecidos

In [7]:
mysql_1.shape

(864, 20)

In [8]:
mysql_2.shape

(36, 5)

In [9]:
mysql_3.shape

(36, 13)

In [10]:
mysql_1.columns

Index(['Anio', 'Trimestre', 'AnioTrimestre', 'Provincia',
       'AccesoCada100Hogares', 'DiferenciaTrimestral', 'PorcientoTrimestral',
       'Cumple2', 'cumple_KPI', '2_cumplido', '2_cumplido_anterior',
       'BandAnchaFija', 'Dial_up', 'ADSL', 'Cablemodem', 'FibraOptica',
       'Wireless', 'OtrosTipoConexion', 'nuevoAcceso', 'Crecimiento'],
      dtype='object')

In [11]:
mysql_2.columns

Index(['Provincia', 'nuevoAcceso', 'AccesoCada100Hogares',
       'PorcientoTrimestral', 'Crecimiento'],
      dtype='object')

In [12]:
mysql_3.columns

Index(['Provincia', 'BandAnchaFija', 'Dial_up', 'ADSL', 'Cablemodem',
       'FibraOptica', 'Wireless', 'OtrosTipoConexion', 'anioTrimestre',
       'Mayor_Valor', 'ServicioMayorValor', 'Menor_Valor',
       'ServicioMenorValor'],
      dtype='object')

In [ ]:
# Importamos la librería necesaría
import mysql.connector

# Establecemos la conexión a MySQL
cnx = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Wip@8Wip@8'
)

# Instanciamos el cursor y creamos la base de datos 'air_flights' si no existe
cursor = cnx.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS acceso_internet")
cursor.execute("USE acceso_internet")

# Creamos la tabla 'hogares100'
cursor.execute("""
    CREATE TABLE IF NOT EXISTS hogares100 (
        Anio INT,
        Trimestre INT,
        AnioTrimestre INT,
        Provincia VARCHAR(550),
        AccesoCada100Hogares FLOAT,
        DiferenciaTrimestral FLOAT,
        PorcientoTrimestral FLOAT,
        Cumple2 INT,
        cumple_KPI INT,
        2_cumplido BOOLEAN,
        2_cumplido_anterior INT,
        BandAnchaFija INT,
        Dial_up INT,
        ADSL INT,
        Cablemodem INT,
        FibraOptica INT,
        Wireless INT,
        OtrosTipoConexion INT,
        nuevoAcceso FLOAT,
        Crecimiento FLOAT
    )
""")




# Definimos los datos a utilizar a utilizar
data = mysql_1

# Escribimos la consulta SQL para insertar un solo registro
insert_query = """
    INSERT INTO air_accidents
    (Anio,Trimestre,AnioTrimestre,Provincia,AccesoCada100Hogares,DiferenciaTrimestral,PorcientoTrimestral,Cumple2,cumple_KPI,2_cumplido,2_cumplido_anterior,BandAnchaFija,Dial_up,ADSL,Cablemodem,FibraOptica,Wireless,OtrosTipoConexion,nuevoAcceso,Crecimiento)
    VALUES
    (%(Anio)s, %(Trimestre)s, %(AnioTrimestre)s, %(Provincia)s, %(AccesoCada100Hogares)s, %(DiferenciaTrimestral)s, %(PorcientoTrimestral)s, %(Cumple2)s, %(cumple_KPI)s, %(2_cumplido)s, %(2_cumplido_anterior)s, %(BandAnchaFija)s, %(Dial_up)s, %(ADSL)s, %(Cablemodem)s, %(FibraOptica)s, %(Wireless)s, %(OtrosTipoConexion)s, %(nuevoAcceso)s, %(Crecimiento)s)
"""
cursor.execute(insert_query)
'''
# Ejecutamos la inserción de datos para cada registro
for row in data:
    # Reemplazar los valores NaN por None en el diccionario
    row = {key: None if pd.isna(value) else value for key, value in row.items()}
    cursor.execute(insert_query, row)
 
'''



# Creamos la tabla 'primerkpi'
cursor.execute("""
    CREATE TABLE IF NOT EXISTS primerkpi (
        Provincia VARCHAR(550),
        nuevoAcceso FLOAT,
        AccesoCada100Hogares FLOAT,
        PorcientoTrimestral FLOAT,
        Crecimiento FLOAT
    )
""")


# Definimos los datos a utilizar a utilizar
data2 = mysql_2.to_dict('records')

# Escribimos la consulta SQL para insertar un solo registro
insert_query = """
    INSERT INTO air_accidents
    (Provincia ,nuevoAcceso,AccesoCada100Hogares,PorcientoTrimestral,Crecimiento)
    VALUES
    (%(Provincia )s, %(nuevoAcceso)s, %(AccesoCada100Hogares)s, %(PorcientoTrimestral)s, %(Crecimiento)s)
"""

# Ejecutamos la inserción de datos para cada registro
for row in data2:
    # Reemplazar los valores NaN por None en el diccionario
    row = {key: None if pd.isna(value) else value for key, value in row.items()}
    cursor.execute(insert_query, row)



# Creamos la tabla 'segundakpi'
cursor.execute("""
    CREATE TABLE IF NOT EXISTS segundakpi (
        Provincia VARCHAR(550),
        BandAnchaFija INT,
        Dial_up INT,
        ADSL INT,
        Cablemodem INT,
        FibraOptica INT,
        Wireless INT,
        OtrosTipoConexion INT,
        anioTrimestre INT,
        Mayor_Valor INT,
        ServicioMayorValor VARCHAR(550),
        Menor_Valor INT,
        ServicioMenorValor VARCHAR(550)
    )
""")

# Definimos los datos a utilizar a utilizar
data3 = mysql_3.to_dict('records')

# Escribimos la consulta SQL para insertar un solo registro
insert_query = """
    INSERT INTO air_accidents
    (Provincia ,BandAnchaFija,Dial_up,ADSL,Cablemodem,FibraOptica,Wireless,OtrosTipoConexion,anioTrimestre,Mayor_Valor,ServicioMayorValor,Menor_Valor,ServicioMenorValor)
    VALUES
    (%(Provincia )s, %(BandAnchaFija)s, %(Dial_up)s, %(ADSL)s, %(Cablemodem)s,%(FibraOptica)s,%(Wireless)s,%(OtrosTipoConexion)s,%(anioTrimestre)s,%(Mayor_Valor)s,%(ServicioMayorValor)s,%(Menor_Valor)s,%(ServicioMenorValor)s)
"""

# Ejecutamos la inserción de datos para cada registro
for row in data3:
    # Reemplazar los valores NaN por None en el diccionario
    row = {key: None if pd.isna(value) else value for key, value in row.items()}
    cursor.execute(insert_query, row)








# Confirmamos los cambios en la base de datos
cnx.commit()

# Cerrar la conexión
cursor.close()
cnx.close()